html {
 background: lightgrey;
}

 h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

td, th {
 border: 1px solid black;
}

th {
  background: #ddd;
}

section {
  background: #eee;
  border: 1px solid #999;
}
